Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Mail
Flask-SocketIO
gevent
gevent-websocket
gunicorn
python-dotenv
stripe
requests
boto3
reportlab
psycopg2-binary
elasticsearch>=8.0.0,<9.0.0
redis
Flask-Cors
